<div class="user-details">
  <h1>Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Areas of knowledge</h2>
    <p>Social democracy, public services, future of work, multiculturalism, the Chinese Australian diaspora, the Green New Deal</p>
  </div>
  <div class="tech">
    <h2>Previous Events</h2>
    <p>I have spoken at a range of events including for the Committee for the Economic Development of Australia (CEDA), Sydney Ideas, Australian Human Rights Commission and GetUp!</p>
  </div>
  <div class="tech">
    <h2>Publications and Media</h2>
    <p>I have written for the Sydney Morning Herald, Guardian Australia, Crikey, Jacobin Magazine, Meanjin, Junkee and a range of other publications.</br>
 
    </p>
  </div>
</div>
