<div class="user-details">
  <h1>Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Areas of knowledge</h2>
    <p>My expertise includes the future of work, social democracy, public services, multiculturalism, the Chinese Australian diaspora and the Green New Deal</p>
  </div>
  <div class="tech">
    <h2>Events</h2>
    <p>I have spoken at a range of events including for the Committee for the Economic Development of Australia (CEDA), Sydney Ideas, Australian Human Rights Commission, GetUp!</p>
  </div>
  <div class="tech">
    <h2>Media</h2>
    <p>I have written for the Sydney Morning Herald, Guardian Australia, Crikey, Jacobin, Meanjin, SBS and other publications. I have also been interviewed on ABC News Radio.</p>
  </div>
</div>
